* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 15vh;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 10px;
}

.personal-info {
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#about-me {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  width: 80%;
}

.dev-img {
  width: 1200px;
  margin-right: 80px;
}

.dev-about p {
  text-align: justify;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#skills {
  margin: auto;
}

#skills h1 {
  font-size: 50px;
}

.skill {
  border: 2px solid black;
  margin: 20px auto;
  display: inline;
}

.skill-name {
  font-size: 30px;
}

.skill-experience {
  font-size: 20px;
}
